/* New styles for the Web Section */

@media only screen 
and (min-width : 0) 
and (max-width : 1150px) 
{
	#inner-content
	{
		width: 80%;
	}
	#work_display
	{
		width: 66%;
	}
	#sidebar
	{
		width: 33%;
	}
	#education
	{
		float:left;
/*		margin-left: 150px;*/
	}
}

@media only screen 
and (min-width : 0) 
and (max-width : 1100px) 
{
	body
	{
		min-width: 0;
	}
	.container
	{
		width: 90%;
	}
	#header, #who-we-are, #videos, #services, #contact-contents, #footer-contents
	 {
	  	width: 90%;
	 }
	 #who-we-are
	 {
		 padding: 0 5%;
		 margin-top: 0;
	 }
	 /*#portfolio-contents, */.content-common
	 {
	 	width: auto;
	 }
	 #adameans, #the-journey
	 {
	 	width: 48%;
	 }
	 ul#video-list li
	 {
	 	width: 30%;
	 	float: left;
	 	margin-right: 3%;
	 }
	 #portfolio-contents
	 {
	 	width: 25%;
	 	margin: 0;
	 }
	 #content-left
	 {
	 	width: 69%
	 }
	 #content-right
	 {
	 	width: 30%;
	 }
	 #career
	 {
	 	width: 278px;
	 }
	 #services-links
	 {
	 	width: 296px;
	 	padding-right: 15px;
	 }
	 #social
	 {
	 	width: 251px;
	 }

	 /*project*/

	 #work_display
	 {
	 	width: 63%;
		padding-left: 3%;
	 }
	 #sidebar
	 {
	 	width: 30%;
	 	float: left;
		padding-left: 3%;
	 }
	 #client_info
	 {
	 	width: 90%;
	 }
	 #web_services ul
	 {
		 width: 90%;
		 text-align: center;
	 }
	  #web_services ul li
	  {
		  width: 30%;
		  margin-right: 2%;
		  float: none;
		  display: inline-block;
	  }
	    #web_services ul a:last-child li
	    {
		    margin-right: 0;
	    }
	  #education
		{
		float:left;
		}
		#profilepic{
			width: 80%;
			float: center;
		}
}


}
@media only screen 
and (min-width : 0) 
and (max-width : 1024px) 
{
	.nav
	{
		min-width: 0;
	}
	#nav h3.logo
	{
		top: 5px;
	}
	
	.work
	{
		margin-top: 60px;
	}
	#contact_details
	{
		width: 90%;
	}
	#banner-caption
	{
		width: 700px;
		height: 377px;
		background-size: cover;
	}
	#header
	{
		height: 526px;
	}
	#portfolio-contents
	{
		width: 100%;
	}
	ul.services
	{
		width: 100%;
		padding-left:0;
		overflow: hidden;
		text-align: center;
	}
	#services-main
	{
		padding: 100px 0;
	}
	#services-main #services
	{
		width: 100%;
	}
	#services span
	{
		display: inline-block;
		margin: 0 0 20px 0;
	}
	#services li
	{
		width: 20%;
		float: none;
		display: inline-block;
	}
	.padding-right
	{
		padding-right: 5%;
	}
	#content-left
	{
		width: 50%;
		margin-bottom: 40px;
	}
	#smartphone
	{
		width: 26%;
		padding-right: 2%;
		display: none;
	}
	.mail, .phone
	{
		width: 100%;
		float: left;
	}
	#addresses
	{
		width: 100%;
	}
	.locations
	{
		width: 90%;
	}
	#content-right
	{
		width: 50%;
	}
	.field, .field2
	{
		width: 90%;
	}
	.QapTcha
	{
		width: 196px;
	}
	.QapTcha .bgSlider
	{
		width: 170px;
	}
	.submit
	{
		padding: 12px 70px;
	}
	#footer
	{
		padding: 50px 0;
	}
	#footer h3
	{
		padding-bottom: 0;
	}
	#career
	{
		width: 46%;
		padding-right: 4%;
		padding-bottom: 40px;
	}
	#services-links
	{
		width: 50%;
		padding-bottom: 40px;
		padding-right: 0;
		padding-left: 0;
	}
	#social
	{
		width: 100%;
	}
	#works
	{
		height: auto;
	}
	a .view-all-works-link
	{
		width: 90%;
	}
	/*inner page*/

    #inner-content
	{
		width: 90%;
	}
	p.column1
	{
		width: 41%;
		padding: 20px 5% 20px 4%;
	}
	p.column2
	{
		width: 44%;
		padding: 20px 2% 0;
	}
	#inner-nav
	{
		width: 90%;
	}
	
	#web_services
	{
		padding: 40px 0;
	}
	#web_services ul li
	{
		width: 30%;
		padding: 50px 0;
		margin: 0;
		height: auto;
	}
	#web_services h1 
	{
		margin: 0;
		padding: 0;
	}
	#web_services h3
	{
		font-size: 18px;
		padding-bottom: 10px;
	}
	#web_services h4 
	{
		padding-bottom: 10px;
	}
	#web_services li.webdesign,#web_services li.webdevelopment,#web_services li.seo
	{
		background-image: none;
	}
	#education
	{
	float:left;
	}



}
@media only screen 
and (min-width : 0) 
and (max-width : 860px) 
{
	#banner-caption
	{
		width: 654px;
		height: 365px;
	}
	#header {
		height: 490px;
	}
	#the-journey
	{
		display: none;
	}
	#adameans
	{
		width: 100%;
	}
	.nav ul li
	{
		margin-left: 30px;
	}
	#video-main
	{
		padding: 60px 0;
	}
	a.play
	{
		width: 228px;
		height: 166px;
	}
	#contact
	{
		padding: 50px 0;
	}
	#web_services h4
	{
		padding-bottom: 10px;
	}
	#web_services h3
	{
		font-size: 19px;
		padding-bottom: 20px;
	}
	#education
	{
	float:left;
	}

}
@media only screen 
and (min-width : 0) 
and (max-width : 768px) 
{
	.csswinner, .cssda
	{
		display: none;
	}
	#banner-caption
	{
		width: 562px;
		height: 300px;
	}
	#header
	{
		height: 440px;
		padding-top: 5px;
	}
	.nav ul
	{
		display: none;
	}
	#video-main
	{
		padding: 50px 0 0;
	}
	ul#video-list li
	{
		width: 47%;
		margin-bottom: 40px;
	}
	.padding-right:nth-child(2)
	{
		padding-right: 0;
	}
	a.play
	{
		width: 44%;
		/*height: 188px;*/
	}
	#content-left
	{
		width: 100%;
	}
	#content-right
	{
		width: 100%;
	}
	.mail, .phone
	{
		width: 40%;
	}
	#addresses
	{
		width: 100%;
	}
	.locations
	{
		width: 100%;
	}
	.field, .field2
	{
		width: 95%;
	}
	#career
	{
		width: 100%;
		padding-right: 0;
	}
	#services-links
	{
		width: 100%;
		margin-top: 0;
	}
	#footer .link
	{
		display: block;
		padding-top: 20px;
	}
	.main 
	{
		display: block;
		float: right;
		margin: 5px 5% 0 0;
		position: fixed;
		right: 0;
		z-index: 100;
	}
	.inner-bg .main 
	{
		margin: -25px 5% 0 0;
	}
	.cbp-spmenu a.closing
	 {
	 	width: 100%;
	 	height: 35px;
		position: absolute;
		text-indent: -9999px;
		background: url(../images/back.png)  no-repeat center;
		top: 22px;
		display: block;
		border: none;
		padding: 0;
		margin-left: 0;
		font-size: 0;
	 }
	#education
	{
	float:left;
	}
	 

	 /*inner pages*/

	
	p.column1
	{
		width: 92%;
		padding: 20px 4%;
		text-align: center;
	}
	p.column2
	{
		width: 92%;
		padding: 20px 4% 0 4%;
		text-align: center;
	}
	#service-heading
	{
		font-size: 40px;
		padding: 35px 0
	}
	#inner-menu
	{
		display: none;
	}
    .cbp-spmenu-vertical a.hide
    {

    }
    #education
	{
	float:left;
	}

	/*project*/

	.work_display
	{
		width: 94%;
	}
	#sidebar
	{
		width: 100%;
		padding-left: 0;
		display: none;
	}
	#inner-nav-main
	{
		padding: 38px 0;
	}
	#web_services ul li
	{
		width: 100%;
		padding: 15px 0;
	}
	#web_services h4 
	{
		font-size: 11px;
	}
	#web_services h3
	{
		width: 70%;
		font-size: 15px;
		padding: 0 15%;
	}
		.work li
	{
		width: 50%;
	}
	#education
	{
	float:left;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 640px) 
{
    #banner-caption {
		width: 494px;
		height: 261px;
	}
	#header {
		height: 370px;
	}
	.dock_email
	{
		display: none;
	}
	#services-main
	{
		padding: 85px 0 69px 0;
		margin-top: 0;
	}
	#services li
	{
		width: 49%;
		padding-bottom: 20px;
	}
	.locations
	{
		width: 100%;
		margin-right: 0;
	}
	#service-heading
	{
		font-size: 32px;
		padding: 24px 0
	}
	.mail, .phone
	{
		width: auto;
	}
	#education
	{
	float:left;
	}

	/*inner pages*/

	.next, .prev
	{
		display: none;
	}
	#projects-head-main
	{
		font-size: 34px;
		padding: 30px 0;
	}
	.work_display
	{
		width: 100%;
		padding: 0;
	}
	#fb_comments
	{
		line-height: 20px;
	}
	.work_display .line:first-child
	{
		margin:0 0 20px 0;
	}
	#inner-content-main
	{
		padding-bottom: 0px;
	}
	#education
	{
	float:left;
	}
	
}
@media only screen 
and (min-width : 0) 
and (max-width : 560px) 
{
	#banner-caption
	{
		width: 412px;
		height: 220px;
	}
	#header
	{
		height: 330px;
	}
	.QapTcha
	{
		width: 211px;
	}
	.QapTcha .bgSlider
	{
		width: 192px;
	}
	.submit
	{
		padding: 12px 80px;
	}
	#works
	{
		background: none;
	}
	#who-we-are .content-common
	{
		width: 100%;
	}
	#who-we-are p
	{
		overflow: hidden;
	}
	#service-illustration a
	{
		display: block;
		margin-top: 10px;
	}
	#education
	{
	float:left;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 480px) 
{
	#nav h3.logo
	{
		top: 5px;
	}
	#banner-caption
	{
		display: none;
	}
	#header {
		height: 60px;
	}
	#header h3.logo
	{
		width: 100%;
		text-align: center;
	}
	ul#video-list li
	{
		width: 100%;
	}
	.padding-right
	{
		padding-right: 0;
	}
	#video-list li img
	{
		width: 100%;
	}
	a.play
	{
		width: 90%;
		height: 274px;
	}
	#smartphone
	{
		display: none;
	}
	.QapTcha
	{
		width: 190px;
	}
	.QapTcha .bgSlider
	{
		width: 170px;
	}
	.submit
	{
		padding: 12px 60px;
	}
	#nav_space
	{
		height: auto;
	}
	/*inner pages*/

	p.highlight
	{
		font-size: 17px;
		line-height: 24px;
	}
	#service-heading {
		font-size: 24px;
		padding: 18px 0;
	}
	#education
	{
	float:left;
	}
}