/* New styles for the Web Section */

@media only screen 
and (min-width : 0) 
and (max-width : 1150px) 
{
	.work_display
	{
		width: 66%;
	}
	.nav{
		margin-top: 100px;
	}
}

@media only screen 
and (min-width : 0) 
and (max-width : 1100px) 
{
	body
	{
		min-width: 0;
	}
	.container
	{
		width: 90%;
	}
	.header
	{
	  	width: 90%;
	}
	
	/*project*/

	.work_display
	{
	 	width: 63%;
		padding-left: 3%;
	}
	.profilepic{
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.about-text2{
		display: none;
	}
	.nav{
		margin-top: 30px;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 1024px) 
{
	
	.work
	{
		margin-top: 60px;
	}
	.header
	{
		max-width: 80%;
	}
	.footer
	{
		padding: 50px 0;
	}
	.footer h3
	{
		padding-bottom: 0;
	}
	.works
	{
		height: auto;
	}
	.yl-logo{
		width: 20%;
	}
	.profilepic{
		width: 30%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.nav{
		margin-top: 30px;
	}

}
@media only screen 
and (min-width : 0) 
and (max-width : 860px) 
{	
}
@media only screen 
and (min-width : 0) 
and (max-width : 768px) 
{
	.footer .link
	{
		display: block;
		padding-top: 20px;
	}
	/*project*/

	.work_display
	{
		width: 94%;
	}
	.nav{
		margin-top: 30px;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 640px) 
{
	.header {
		width: 100%;
	}
	.dock_email
	{
		display: none;
	}
	.mail, .phone
	{
		width: auto;
	}
	/*inner pages*/

	.work_display
	{
		width: 100%;
		padding: 0;
	}
	.work_display .line:first-child
	{
		margin:0 0 20px 0;
	}
	.resume
	{
		width: 92%
	}
	.nav{
		margin-top: 30px;
	}

}
@media only screen 
and (min-width : 0) 
and (max-width : 560px) 
{
	.header
	{
		height: 330px;
	}
	.works
	{
		background: none;
	}
	.resume{
		width: 90%;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 480px) 
{
	.resume{
		width: 90%;
	}
}

/* New styles for the Web Section */

@media only screen 
and (min-width : 0) 
and (max-width : 1150px) 
{
	#inner-content
	{
		width: 80%;
	}
	#work_display
	{
		width: 66%;
	}
}

@media only screen 
and (min-width : 0) 
and (max-width : 1100px) 
{
	body
	{
		min-width: 0;
	}
	.container
	{
		width: 90%;
	}
	#header
	 {
	  	width: 90%;
	 }
	 /*project*/

	 #work_display
	 {
	 	width: 63%;
		padding-left: 3%;
	 }
	#profilepic{
		width: 80%;
		float: center;
	}
}


}
@media only screen 
and (min-width : 0) 
and (max-width : 1024px) 
{
	.nav
	{
		min-width: 0;
	}
	#nav h3.logo
	{
		top: 5px;
	}
	
	.work
	{
		margin-top: 60px;
	}
	#header
	{
		height: 526px;
	}
	#works
	{
		height: auto;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 860px) 
{
	#banner-caption
	{
		width: 654px;
		height: 365px;
	}
	#header {
		height: 490px;
	}
	.resume{
		width: 90%;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 768px) 
{

	#banner-caption
	{
		width: 562px;
		height: 300px;
	}
	#header
	{
		height: 440px;
		padding-top: 5px;
	}

	/*project*/

	.work_display
	{
		width: 94%;
	}
		.work li
	{
		width: 50%;
	}
	.resume{
		width: 90%;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 640px) 
{
    #banner-caption {
		width: 494px;
		height: 261px;
	}
	#header {
		height: 370px;
	}
	.dock_email
	{
		display: none;
	}
	.work_display
	{
		width: 100%;
		padding: 0;
	}
	.work_display .line:first-child
	{
		margin:0 0 20px 0;
	}
	.resume{
		width: 90%;
	}
	.header{
		width: auto;
    	height: auto;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 560px) 
{
	#banner-caption
	{
		width: 412px;
		height: 220px;
	}
	#header
	{
		height: 330px;
	}
	#works
	{
		background: none;
	}
	.resume{
		width: 90%;
	}
	.header{
		width: auto;
    	height: auto;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 480px) 
{
	#banner-caption
	{
		display: none;
	}
	.header{
		width: 100%;
	}
	.resume{
		display: none;
	}
	.lets-work{
	}
	.profilepic{
		width: 80%;
	}
	.about-text{
		text-align: center;
	}
	.yl-logo{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		width: 80%;
	}
	.nav{
		display: none;
	}

}