body {
  font-family: 'Work Sans', sans-serif;
}
h1{
  margin-top: 100px;
  margin-left: 30px;
}
h2{
  font-weight: 300;
}
h3{
  font-weight: 500;
}
p{
  font-weight: 300;
}
.wrapper{
  width: 80%;
}

.nav {
	margin-top: 100px; 
  margin-bottom: 10px;
}
.nav li a, 
.nav li a:hover {
	background: none; 
	color: black; 
	font-size: 1.1em;
}
.cta-button{
  color: #03A9F4;
  background: #03A9F4 url('img/texture.png') no-repeat right top;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  font-size: 1.1em; 
}
.col-md-9{
  margin-bottom: 20px;
}

.btn{
  font-color:white;
  font-weight: 500;
}
/**********************************************************
Nav Bar 
**********************************************************/
#yl-logo{
  width: 45%;
  margin-top: 100px;
  margin-left: 35px;
}


/**********************************************************
Header
**********************************************************/
.header{
  margin-top: 40px;
  margin-left: 50px;
  width: 94%;
}


/**********************************************************
Portfolio
**********************************************************/

.projects .container div {
  margin: 0;
  padding: 0;
}

.col {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.featured-work{
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
/*  background-color: blue;
  width: 96.5%;
  height: 120%;
  margin-left: 35px;*/
}
.largecube{
  width: 200%;
}
.cube{
  width: 100%;
}

.work,.work ul
{
  width: 100%;
  float: left;
  list-style-type: none;
  margin-top: -91px;
  margin-left: -3px;
}
.work
{
  margin-top: 81px;
}
.work li
{
  width: 25%;
  float: left;
  position: relative;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}

.work li:hover img
{
   -webkit-filter: none;
}
.work li:after
{
  content:'';
  display: none;
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  opacity:.5;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+50,000000+100&amp;0+28,0.41+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%, rgba(0,0,0,0.13) 50%, rgba(0,0,0,0.41) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.13)), color-stop(100%,rgba(0,0,0,0.41))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#69000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.work li:after
{
  transition: all .5s ease;
  content:'';
  position:absolute;
  left:0;
  right:0;
  bottom: 0;
  top: 0;
  background:rgba(255, 255, 255, 0.00);
}
.work li:hover :after
{
  content:'';
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top: 0;
  background:rgba(255, 255, 255, 0.05);
}
.work img
{
  float: left;
  min-width: 30%;
}
.work span
{
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  width: 100%;
  display: none;
  
}

#work li:hover span
{
  display: block;
}

.work i
{
  font-style: normal;
  padding-bottom: 5px;
  display: block;
  color: #9e9e9d;
}
.work h1
{
  text-transform: capitalize;
  letter-spacing: 0;
  color: #000;
  font-size: 15px;
}
#work2{
  margin-bottom: 35px;
}

/**********************************************************
About Me 
**********************************************************/
.about-me{
  text-align: center;
}

#profilepic{
  margin-top: 40px;
  width: 100%;
  margin-bottom: 50px
}

.about-text{
  margin-top: 40px;
  margin-left: 20px;
  font-size: 1.3em;

}

/**********************************************************
Work Experience
**********************************************************/
#icons{
  width: 1px;
}

.resume{
  padding: 10px 10px;
  margin-bottom: 40px;
}

/**********************************************************
Contact 
**********************************************************/
.footer{
  text-align: center;
  margin-bottom: 100px;
}
.btn{
  margin-top: 30px;
  color: white;
  font-size: 1.5em;
  background-color: #FFC107;
  padding: 20px 50px;
}

/**********************************************************
Contact Dock
**********************************************************/

#email{
  width: 12%;
  padding-bottom: 5px;
  padding-right: 3px;
}

#linkedin{
  padding-bottom: 5px;
  padding-right: 5px;
  width: 20%;
}

#contact-dock
{
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  background: #673AB7;
  margin-bottom: -41px;
  z-index: 9999;
  font-family: 'proxima_novalight';
  color: #fff;
  line-height:40px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  text-align: center;
}
.dock-email,.dock-linkedIn, .dock-dribble
{
  padding-left:30px;
  display: inline-block;
  margin-right: 15px;
  line-height: 40px;
  height: 40px;
}
#contact-details
{
  width:1000px;
  margin:0 auto;
}
#contact-dock, .dock-email a, .dock-linkedIn a, .dock-dribble a
{
  color:#fff;
  text-decoration:none;
  padding-right:25px;
  line-height: 40px;
}
#contact-dock, .dock-email a:hover, .dock-linkedIn a:hover, .dock-dribble a:hover
{
  color: #fff;
}
#contact-dock, .show-this
{
  margin-bottom: 0;
}

/**********************************************************
Frant
**********************************************************/
.project-container{
  margin-left: 32px;
}
#frant-intro{
  font-size: 1.3em;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}
#frant-initial-concept,
#frant-user-interviews,
#frant-user-journey,
#frant-sketching,
#frant-wireframes,
#frant-final-result{
  font-size: 1.3em;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}
#startup-weekend{
  width: 105%;
  margin-left: -15px;
}
#frant-img{
  width: 100%;
}
/**********************************************************
Xfers 
**********************************************************/
.project-container{
  margin-left: 32px;
}
#Xfers-intro{
  font-size: 1.3em;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}
#Xfers-web-mobile,
#Xfers-initial-concept,
#Xfers-user-journey,
#Xfers-sketching,
#frant-wireframes,
#frant-final-result{
  font-size: 1.3em;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}
#startup-weekend{
  width: 105%;
  margin-left: -15px;
}
#Xfers-img{
  width: 100%;
}