html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{ margin:0; padding:0; border:0; outline:0; font-weight:inherit; text-decoration: none; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; list-style:none;}body{ line-height:1; color:black; background:white}ol,ul{ list-style:none}table{ border-collapse:separate; border-spacing:0; vertical-align:middle}caption,th,td{ text-align:left; font-weight:normal; vertical-align:middle}q,blockquote{ quotes:""""}q:before,q:after,blockquote:before,blockquote:after{ content:""}a img,img{ border:none; max-width: 100%;}

@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont-webfont.eot');
    src: url('fonts/proximanova-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham';
    src: url('fonts/gothmbold-webfont.eot');
    src: url('fonts/gothmbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothmbold-webfont.woff') format('woff'),
         url('fonts/gothmbold-webfont.ttf') format('truetype'),
         url('fonts/gothmbold-webfont.svg#Gotham-BoldGotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	color: #5a5c5d;
	font-family:'proxima_novalight', "Arial", Times, serif;
	font-size:14px;	
}
.container {
	width: 1004px;
	margin: 0 auto;
}
#header {
	width: 1004px;
	padding-top: 40px;
	height: 550px;
	margin:0 auto;
}
#banner-caption{ 
	width:780px; 
	float:left; 
	background: url(../images/caption.png) no-repeat left center;
	height:420px; 
	margin-top:50px;
}
#header .container {
	position: relative;
}
#header h3.logo {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 99;
	width: 225px;
	padding-top:10px;
	  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}
#header h3.logo a,
#header h3.logo a img {display: block;}


#live_chat {
    position: fixed;
   /*  padding: 12px 25px 12px 45px; */
    z-index: 999999;
    bottom: -81px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 80px;
    background: url(../images/chat.png) #000 center no-repeat;
    transition: all .5s ease;
}
#live_chat :after {
    content: '';
    width: 10px;
    height: 10px;
    background: #20EF20;
    top: 10px;
    right: 0;
    position: absolute;
    border-radius: 50px;
}
#live_chat.show_this
{
	bottom: 50px;
}
#live_chat a
{
	color: #5A5C5D;
	height: 50px;
	width: 50px;
	float: left;
	text-decoration: none;
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

/*--------------------------------------------------------------------------------------------
	menu
--------------------------------------------------------------------------------------------*/
.nav {
	position: absolute;
	overflow: hidden;
	left: 0;
	width: 100%;
	min-width: 1004px;
	z-index: 99;
	padding-top:20px;
}

.nav ul {
	position: relative;
	float: right;
	padding: 28px 0 0;
	display: block;
	margin: 0;
}

.nav ul li, #inner-nav ul li {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	margin-left: 35px;
}

.nav ul li a ,#inner-nav a{
	color: #494949;
	display: block;
	font-size: 12px;
	line-height: 21px;
	height: 21px;
	letter-spacing:1px;
	text-decoration: none;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	text-transform:uppercase;
	  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}
.nav ul li a:hover,#inner-nav a:hover {color:#df86ad;}
#fake_nav {position: fixed;}
#nav ul li a:hover {
	color:#df86ad;
}
#nav {
	background: rgba(255, 255, 255, 0.98);
	padding: 30px 0 ;
	color: #cccccc;
	z-index: 99;
}
#nav h2 {
	color: #f1f1f1;
	font-size: 18px;
	line-height: 50px;
	padding: 0;
	margin: 0;
}
#nav ul {
	padding: 0;
	opacity: 0;
}
#nav ul li a {
	color: #000;
}
#nav_space {
	height: 38px;
	width: 100%;
}
#nav h3.logo {
	position: absolute;
	top: 15px;
	padding: 0;
	margin: 0;
	opacity: 0;
}
#nav h2 {
	position: absolute;
	top: 0;
}
/**********************************************************
Portfolio
**********************************************************/
#work,#work ul
{
	width: 100%;
	float: left;
}
#work
{
	margin-top: 81px;
}
#work li
{
	width: 25%;
	float: left;
	position: relative;
	  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}
/*
#work li img
{
	 -webkit-filter: grayscale(100%);
	 -webkit-transition: all .5s ease;
}
*/
#work li:hover img
{
	 -webkit-filter: none;
}
#work li:after
{
	content:'';
	display: none;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity:.5;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+50,000000+100&amp;0+28,0.41+100 */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%, rgba(0,0,0,0.13) 50%, rgba(0,0,0,0.41) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.13)), color-stop(100%,rgba(0,0,0,0.41))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 28%,rgba(0,0,0,0.13) 50%,rgba(0,0,0,0.41) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#69000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#work li:after
{
	transition: all .5s ease;
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom: 0;
	top: 0;
	background:rgba(255, 255, 255, 0.00);
}
#work li:hover :after
{
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom: 0;
	top: 0;
	background:rgba(255, 255, 255, 0.05);
}
#work img
{
	float: left;
	min-width: 100%;
}
#work span
{
	position: absolute;
	background: rgba(255, 255, 255, 0.95);
	bottom: 0;
	width: 100%;
	display: none;
	
}
/*
#work li:hover span
{
	display: block;
}
*/
#work i
{
	font-style: normal;
	padding-bottom: 5px;
	display: block;
	color: #9e9e9d;
}
#work h1
{
	text-transform: capitalize;
	letter-spacing: 0;
	color: #000;
	font-size: 15px;
}


/**********************************************************
Portfolio
**********************************************************/
.view-all-works
{
	width:100%;
	float:left;
	background:#f3f3f3;
	padding:35px 0;
	margin:0 0 80px 0;
	cursor:pointer;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
}
.view-all-works:hover
{
	background:#d7d7d7;

}
a .view-all-works-link
{
	width:1000px;
	color:#5a5c5d;
	margin:0 auto;
	text-indent: 50px;
	background:url(../images/view-works-icon.png) no-repeat 10px 2px;
}
/**********************************************************
About Adams
**********************************************************/
#who-we-are{  
	width: 100%;
	float: left;
	font-size:14px;
 }
#who-we-are p{ line-height:28px; padding-bottom:40px;}

#adameans{ width:480px; float:left; }
#adameans:hover a{color:#f0004d;}
#the-journey #service-illustration
{
	text-align: left;
	padding: 20px 0;
}
#the-journey{ width:480px; float:right;}
#adameans a, #who-we-are a
{
	color: #5a5c5d;
	text-decoration: none;
}
#adameans a:hover
{
	color: #000;
	text-decoration: none;
}


/**********************************************************
About Adams
**********************************************************/


/**********************************************************
Clients
**********************************************************/
#clients{ width:1004px; margin:0 auto; }
#clients .client {
	width: 196px;
	height: 140px;
	float: left;
	margin-bottom:30px;
}
#clients .client {

	width: 196px;
	height: 140px;
	float: left;
}

#clients .client a {
	display: block;
	width: 196px;
	height: 140px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

#clients .client a img {
	display: block;
	margin: 0 auto;
	padding-right:4px;
}
.client-logo { padding-bottom:100px;}
/**********************************************************
Clients
**********************************************************/

#bottom-main{ width:100%; background:url(../images/dotted-texture.gif) repeat; float:left;}
#clients img{ float:left; }


#read_blog
{
	width: 100%;
	float: left;
	text-align: center;
	border-top: 1px solid #EAEAEA;
}
	#read_blog a
	{
		width: 100%;
		float: left;
		padding: 40px 0;
		display: inline-block;
		text-decoration: none;
	}
	#read_blog a span
	{
		font-size: 14px;
		color: #5a5c5d;
		padding-bottom: 10px;
		display: block;
	}
	#read_blog a h6
	{
		font-size: 17px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #000;
	}
	#read_blog a:hover h6
	{
		color: #f0004d;
	}

/**********************************************************
Services
**********************************************************/
#services-main{ 
width:100%; 
float:left;
background:url(../images/studio.jpg) no-repeat center;
background-size: cover; 
padding: 164px 0 121px 0;

}
#services
{
	width:1004px;
	margin:0 auto;
}
ul.services { float:left; padding-left: 80px; list-style:none;  }
ul.services li { float:left; width:190px;  text-align:center; }
ul.services li .device { display:block; height:157px;  }
ul.services li.last { margin-right:0; }
.services h2 { margin:0; }
.services p { margin:0; }

.service > div { padding:58px 40px 0 240px; border-top:1px solid #d8d8d8; width:680px; margin-left:-40px; margin-top:72px; }
.service > div.first { border-top:0; margin-top:90px;}
.service > div:nth-child(2n) {  padding:58px 240px 0 40px; }

ul.featured { float:left; width:100%; list-style:none; margin:30px 0 0; padding:0; }
ul.featured li { float:left; height:50px; line-height:50px; margin-right:75px; }
ul.featured li.last { margin-right:0; }
#services li
{
	float:left;
	width:200px;
}
#services span
{
	display:block;
	width:80px;
	padding: 24px 0;
	border-radius:5px;
	-webkit-border-radius:5pxp;
	-moz-border-radius:5pxp;
	-o-border-radius:5pxp;
	-ms-border-radius:5pxp;
	margin:0 0 20px 60px;
	background-color:#f20052;
	
	-webkit-transition:all ease-in .2s;
}
#services span:hover{background-color:#000;}
/*
.branding{ background:url(../images/branding-icon.png) no-repeat center;}
.branding:hover{ background:url(../images/branding-icon.png) no-repeat center;}
.web-design{ background:url(../images/web-icon.png) no-repeat center;}
.print{ background:url(../images/print-icon.png) no-repeat center;}
.packaging{ background:url(../images/packaging-icon.png) no-repeat center;}
.visual{ background:url(../images/visual-merchandising-icon.png) no-repeat center;}
*/


#services h2{
font-size: 12px;
display: block;
text-align: center;
line-height: 22px;
color:#fff;
	}
.inner p{ padding-top:36px; height:52px; padding-bottom:7px;}
.service h2{ padding-top:20px;}


/**********************************************************
Services
**********************************************************/


.line
{
	background:#e6e6e8;
	height:1px;
	width:1000px;
	float:left;
	margin:70px 0;
}


/**********************************************************
Contact
**********************************************************/
#contact{ width:100%; float:left ; padding:110px 0;}
#contact-contents{ width:1004px; margin:0 auto; }
#content-left{ width:650px; float:left; }
#content-right{ width:300px; float:right;}
#addresses
{
	width: 370px;
	float: right;
}
.locations
{
	/* width:185px; */
	width: 100%;
	float:left;
	margin:15px 0 0 0;
	padding-top:40px;
	 border-top:1px solid #e6e6e8;
}
.kuwait
{
	float: left;
	width: 100%;
}
.link
{
	color: #de1346;
	text-decoration: none;
}
.link:hover
{
	text-decoration: underline;
}
.locations p
{
	line-height:28px;
}
.mail,.phone{ width:315px; float:right; height:45px; line-height:45px; background:url(../images/mail.png) no-repeat left center; padding-left:60px; margin-bottom:20px; }
.mail a{color:#5a5c5d; text-decoration:none; 	transition:all .2s ease-in;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;}
.mail a:hover{color:#ed1651; border-bottom:1px dotted #CCC; padding-bottom:10px;}
.phone{background:url(../images/phone.png) no-repeat left center;}
#smartphone{ width:250px; float:left; line-height: 24px;}
.field,.field2{ font:inherit; background:#FFF; padding:10px 0; border:#d1d1d8 1px solid; width:260px; border-radius:3px; padding-left:20px; color:#575757;}
.field:focus, .field2:focus{border:#bbbbc8 1px solid; outline:none;}
.field2 { line-height:24px;}
.submit{
	font-size: 12px;
	color: #fff;
	padding: 12px 40px;
	text-transform:uppercase;
	border-radius:5px;
	border:none;
	background:#212327;
	margin-top:18px;
	-webkit-transition:all ease-out .15s;
}
label
{
	display:block;
	color:#a0a0a0;
	padding:15px 0 15px 0;
}

#captcha-container
{
	width:280px;
	
}
.captcha
{
	width:200px;
	float:left;
	margin-right:10px;
}
#change-image { background:url(../images/refresh-captcha.png) no-repeat; width:38px; height:38px; text-indent:-999999px; float:left;}
.submit:hover{background:#ed1651;}
.submit:active{background:#212327;}
#change-image{ color:#5a5c5d; text-decoration:none; display:block; padding-top:8px;}
#change-image:hover{ color:#cc5583;}
.error{ font-size:12px; color:#d82900; padding-left:10px;}
.captcha-error{ padding-bottom:20px; display:block; color:#ed1651;}

.form-error
{
	color:#ed1651;
}
.sent
{
	color:#12e9ae;
}

/**********************************************************
Contact
**********************************************************/


/**********************************************************
Blog-career
**********************************************************/
#dark{ width:100%; float:left; background:#1f1f1f; padding-bottom:50px;}
#dark-contents{ width:1004px; margin:0 auto; color:#949494; text-shadow:0 1px 0 #000; font-size:14px;  padding:80px 0;}

#career{ width:300px; float:left; padding-right:40px; line-height:19px;}
#footer h6 a{color: #ed1651;text-decoration: none;-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;}#footer h6 a:hover{color: #fff;}
#blog{ width:190px; height:166px; float:left; padding-right:20px;}
#testimonials{ width:302px; float:left; line-height:19px; background:url(../images/testmonials.png) no-repeat left top; padding-left:90px;}
.client-name{ color:#9da0a1;display:block; padding-top:15px;}
/**********************************************************
Blog-career
**********************************************************/


/**********************************************************
Inner page
**********************************************************/
.inner-bg{ background: #f1f1f1; }
#inner-nav-main{ float:left; width:100%; background: rgba(255, 255, 255, 0.98);
	padding: 30px 0 ;
	color: #cccccc;
	position: fixed;
	z-index: 1;
	}
#inner-nav{ width:1004px; margin:0 auto;}
#inner-logo{ width:80px; float:left; position:absolute; top:15px;}
#inner-menu{ width:438px; float:right; }


	/* news styles for project */
	#fb_comments
	{
		width: 100%;
		float: left;
		padding: 20px 0;
		border-top: 5px solid #e6e6e6;
		margin-top: 20px;
	}
	#fb_comments .sidebar_title
	{
		padding-bottom: 10px;
	}
	#fb_comments p
	{
		font-size: 13px;
		padding-bottom: 15px;
	}
	.fb-comments
	{
		padding-top: 10px;
	}
	#projects-head-main
	{ 
		float:left; 
		width:100%; 
		padding:45px 0;  
		margin-top: 81px; 
		font-family: 'proxima_novalight'; 
		text-transform: uppercase;
		color: #000;
		text-align: left; 
		font-size: 55px;
	}
	.next,.prev
	{
		position: fixed;
		top:50%;
		margin-top: -22px;
		width: 50px;
		padding: 10px 0;
		text-align: center;
		background: #000;
		right: 0;
	}
	.prev
	{
		left: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.next
	{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	
	.next:hover,.prev:hover
	{
		background: #f20054;
	}
	#work_display
	{
		width: 660px;
		float: left;
	}
	#work_display .line
	{
		width: 100%;
		float: left;
		margin: 30px 0;
	}
	.figcaption
	{
		display: block;
		text-align: left;
		font-size: 10px;
		padding: 5px 0 20px 0;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	#sidebar
	{
		width: 300px;
		float: right;
		
	}
	
	#client_info
	{
		width: 300px;
		float: left;
		
	}
	#client_info p
	{
		line-height: 22px;
		margin-bottom: 20px;
	}
	#client_info li
	{
		width: 100%;
		float: left;
		padding-bottom: 10px;
	}
	.sidebar_title
	{
		font-family: 'gotham';
		font-size: 13px;
		color: #7c7c7c;
		text-transform: uppercase;
		padding-bottom: 25px;
		display: block;
	}
	#work_display .sidebar_title
	{
		color: #000;
/* 		background: url(../images/dot.gif) repeat-x 0 5px; */
	}
	/*
.sidebar_title p
	{
		display: block;
		background: #f1f1f1;
		float: left;
		padding-right: 20px;
	}
*/
	.stick {
	    position:fixed;
	    top:0px;
	    margin-top: 121px;
	}
	.sticky
	{
		position: static;
	}
	
	.website
	{
		border-top:1px solid #f20054;
		padding: 15px 0;
		margin-top: 20px;
		float: left;
		width: 100%;
	}
	.website a
	{
		background: #f20054;
		padding: 5px;
		color: #fff;
		text-decoration: none;
		float: left;
		margin: 5px;
	}
	#social_widgets
	{
		width: 100%;
		float: left;
		border-top:1px solid #000;
		margin: 5px 0;
		padding: 15px 0;
	}
	
	/* news styles for project */
#projects-top{ width:1004px; margin:0 auto;}
#project-heading{ width:600px; float:left; font-size:15px; color:#5a5c5d; line-height:24px;}
#project-navigation,#project-navigation-bottom{ width:215px; float:right; height:75px; margin-top:50px; }
#project-navigation-bottom{ margin:60px 0 0px 0;}
#projects-top h3{ font-size:15px; color:#ed1651; padding-bottom:10px; }
#projects-top p { font-size:17px; padding-top:30px;}



#inner-content-main{ width:100%; float:left; padding-bottom: 100px;}
#inner-content{ width:1004px; margin:0 auto;}
.web{ background:url(../images/web.jpg) no-repeat top left; font-size:13px; color:#767676; text-decoration:none; display:block; height:38px; line-height:38px; padding-left:60px; margin:20px 0 5px 0;
transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in;
}


.web:hover{ background:url(../images/web.jpg) no-repeat bottom left; color:#df86ad; padding-left:70px;}


#project-navigation .prev,#project-navigation .next,#project-navigation .close,
#project-navigation-bottom .prev,#project-navigation-bottom .next,#project-navigation-bottom .close
{  height:56px; width:56px; border-radius:5px; display:block; text-decoration:none;
transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	float:left;
	margin-right:10px;
	text-align:center;

}
#project-navigation .close,
#project-navigation-bottom .close
{
	margin-left:15px;
	
}
#project-navigation .prev:hover,#project-navigation .next:hover,#project-navigation .close:hover,
#project-navigation-bottom .prev:hover,#project-navigation-bottom .next:hover,#project-navigation-bottom .close:hover
{  background:#2a2c31;}

#project-navigation img,#project-navigation-bottom img{ padding-top:15px;}

.inner-content-right h3
{ font-size:14px;  color:#767676; display:block; background:url(../images/project-heading-line.gif) no-repeat left center; text-align:left; padding-left:100px; line-height:30px;}

.project-section-main{ width:1004px; float:left; padding-bottom:50px; border-bottom:#e0e9ec solid 1px; margin-bottom:50px;}

.inner-content-right{ }
.inner-content-right img{ padding-bottom:20px;}


.inner-content-left{ width:1004px;font-size:14px; line-height:20px; color:#464646;}
.inner-content-left h4{  font-size:16px; padding-bottom:30px; font-style:normal; line-height:35px;}

/**********************************************************
Inner page
**********************************************************/



/**********************************************************
Footer
**********************************************************/
#footer{ width:100%; background:#212327; float:left; padding:100px 0;}
#footer-contents{ width:1004px; margin:0 auto;}
#footer p{ line-height:24px;}
#footer .link{
	color:#fff; 
	text-decoration:none; 	
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out; 
	
}
#footer .link:hover
{
	color:#ed1651; border-bottom:1px dotted #484d54; padding-bottom:10px;
}
	
#footer .link a:hover
{
	color:#000; 
	border-bottom:1px dotted #585c65; 
	padding-bottom:10px;
}


#fb-box{ width:390px; float:left; background:url(../images/footer-sep.gif) repeat-y 390; }


#services-links{ width:325px; float:left;  padding-left:25px; margin-top: 67px; }
#services-links p{ line-height:26px; font-size:14px;}
#social{ width:270px; float:right;}

#services-links li{ font-size:13px; color:#000; padding-bottom:18px;} 
#footer h3{ color:#fff; padding-bottom:30px;}

.facebook, .twitter, .linkedin,.vimeo,.flickr,a.google,.linkedin{width:40px; height:42px;  border-radius:2px; background:url(../images/facebook.png) no-repeat center #3b5998;
transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	float:left;
	margin-right:4px;
}

.twitter{background:url(../images/twitter.png) no-repeat center #00b0f0;
transition:all .2s ease-in;
-moz-transition:all .2s ease-in;
-webkit-transition:all .2s ease-in;}
	
.linkedin{background:url(../images/linkedin.png) no-repeat center #0073ca;
transition:all .2s ease-in;
-moz-transition:all .2s ease-in;
-webkit-transition:all .2s ease-in;}

.vimeo{background:url(../images/vimeo.png) no-repeat center #8ab552;
transition:all .2s ease-in;
-moz-transition:all .2s ease-in;
-webkit-transition:all .2s ease-in;}

.flickr{background:url(../images/pin.png) no-repeat center #cb2027;
transition:all .2s ease-in;
-moz-transition:all .2s ease-in;
-webkit-transition:all .2s ease-in;}
a.google{background:url(../images/google_plus.png) no-repeat center #dd4b39;
transition:all .2s ease-in;
-moz-transition:all .2s ease-in;
-webkit-transition:all .2s ease-in;
text-indent: -99999px;}
a.linkedin{background:url(../images/linkedin.png) no-repeat center #0275b3;
transition:all .2s ease-in;
-moz-transition:all .2s ease-in;
-webkit-transition:all .2s ease-in;
text-indent: -99999px;}
.facebook:hover{ background:url(../images/facebook.png) no-repeat center #4465a4;}
.twitter:hover{ background:url(../images/twitter.png) no-repeat center #00d3f7;}
.linkedin:hover{ background:url(../images/linkedin.png) no-repeat center #007ccf;}
.vimeo:hover{ background:url(../images/vimeo.png) no-repeat center #b2d857;}
.flickr:hover{ background:url(../images/pin.png) no-repeat center #dd2e35;}
a.google:hover{background: url(../images/google_plus.png) no-repeat center #ea503d;}
#social ul{ margin-top:40px;}
#social li{width:200px;  line-height:44px; display:block; }
#social li a{ display:block; padding-left:50px; color:#1f1f1f; text-decoration:none; font-size:13px;} 
.skype{ background:url(../images/skype.jpg) no-repeat left center;}

#social li a:hover{ color:#000; }

/**********************************************************
Footer
**********************************************************/

.four{ font-family:Arial, Helvetica, sans-serif; font-size:250px; color:#c5c5c5; font-style:normal; }
#fournotfour{ width:500px; margin:0 auto; font-style:italic; margin-top:250px;}

.clears{ clear:both;}

h1{ font-size:17px; text-transform:uppercase;  margin-bottom:40px; letter-spacing:1px; }
.content-common{ width:1004px; margin:  0 auto;}

h2
{
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:40px;
	display:block;
}

h3{ font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#ed1651;
	margin-bottom:15px;
	line-height: 23px;
	}

h5
{
	font-size:13px;
	padding:20px 0 10px 0;
	color:#141414;
}

h6
{
	font-size:13px;
	color:#ed1651;

}
#footer h6
{
	font-size:13px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#ed1651;
	margin-bottom:15px;
	line-height: 23px;
}
#career img,#services-links img
{
	display: none;
}


/*
	Other Stuffs
*/

::selection{ background:#ed1651; color:#fff;}
::-moz-selection{ background:#ed1651; color:#fff;}

/*NEW VIDEO SLIDER*/

#video-main{ width:100%; float:left; padding:90px 0 ; background:#f6f6f6;  position: relative; z-index:2;}
#videos{ width:1004px; margin:0 auto;}

#video {
  display: none;
  height: 600px;
  background:#000;
  padding:60px 0;
}
#video .central {
  width: 1000px;
  height: 600px;
  position: relative;
  background: url('../images/ajax-loader.gif') center no-repeat;
}
#video .central a#videoClose {
  position: absolute;
  right: -43px;
  top: 9px;
  width: 34px;
  height: 34px;
  background: url('../images/close-video.png') center no-repeat;
  overflow: hiddden;
  text-indent: -9000px;
}
ul#video-list li
{
	display:block;
	width:300px;
	float:left;
}
#markerPoint {
  float: left;
  width: 100%;
  height: 1px;
  /*overflow: hidden;*/
}

.fullwidth {
  float: left;
  width: 100%;
  min-width: 985px;
  clear: both;
  position: relative;
  z-index: 2;
}
.central {
  margin: 0 auto;
  width: 985px;
  clear: both;
  position: relative;
  z-index: 2;
}
.padding-right
{
	padding-right:45px;
}
#video-list li img
{
	border-radius:5px;
}

a.play{
	width:277px;
	height:182px;
	position: absolute;
	text-indent: -9000px;
	transition:all ease-out .2s;
	-webkit-transition:all ease-out .2s;
	-o-transition:all ease-out .2s;
	-moz-transition:all ease-out .2s;
	background:url(../images/play.png) no-repeat center center ;
	opacity:0;
	filter:alpha(opacity=0);
}

a.play:hover{
	background:url(../images/play.png) no-repeat center center ;
	filter:alpha(opacity=100);
	opacity:1;
}
/*NEW VIDEO SLIDER*/


/*SLIDER CAPTCHA*/
.QapTcha {float:left;margin-top:20px;width:165px;}
.QapTcha .clr{clear:both}
.QapTcha .bgSlider {width:150px;height:33px;float:left;background: url(../images/slide-to-right.png) no-repeat center center #e6e6e8; border-radius:6px;}
.QapTcha .Slider {width:33px;height:37px;background:transparent url('../images/cursor.png') no-repeat;cursor:e-resize;position:relative;top:0 !important;left:0;}
.QapTcha .TxtStatus {width:252px;margin-top:15px;text-align:left; font-size:13px;clear:both}
.QapTcha .dropSuccess {color:#4e8b37}
.dropError {color:#ed1651}
.notice {background-color:#f4f6e3;color:#A99B3A; font-size: 12px; border-radius:5px; padding:10px;margin-top:10px;}

/*SLIDER CAPTCHA*/


/*LOVE*/
#appreciate
{
	width:300px;
	margin-bottom:50px;
	float:left;
}
#loved
{
	width:360px;
	float:left;
	background:url(../images/love.png) no-repeat left center;
	padding-left:50px;
	height:50px;
	line-height:50px;
	margin-top:60px;
}
#countDiv
{
	float:left;
	padding-right:10px;
}
/*LOVE*/


/* services */

#service-heading
{
	float: left;
width: 100%;
padding: 45px 0;
margin-top: 81px;
font-family: 'proxima_novalight';
text-transform: uppercase;
color: #000;
text-align: left;
font-size: 55px;
text-align: center;
}
#service-heading .container
{
	padding: 10px 0;
	padding-top: 50px;
}
p.highlight
{
width: 80%;
margin: 0 auto;
padding-bottom: 20px;
font-family: 'proxima_novalight';
font-size: 20px;
color: #000;
line-height: 28px;
text-align: center;
}
p.column1,p.column2
{
	font-family: 'proxima_novalight';
	font-size: 15px;
	color: #323232;
	line-height: 25px;
}
p.column1
{
width: 45%;
padding: 20px 5% 20px 0;
float: left;
}

p.column2
{
width: 45%;
padding: 20px 20px 0;
float: right;
}
p.column-single
{
	width: 80%;
	padding: 20px 10%;
	float: left;
	text-align: center;
	line-height: 25px;
}
#service-illustration
{
	width: 100%;
	padding: 50px 0;
	float: left;
	text-align: center;
}
#services a {
text-decoration: none;
}
#footer_keywords 
{
	width: 100%;
	float: left;
	color: #212327;
	font-size: 12px;
	padding-top: 15px;
	font-size: .1px;
}
#service-illustration a
{
	/* border:3px solid #373737; */
	padding: 17px 25px;
	color: #fff;
	background: #FFFFFF;
	font-family: 'proxima_novalight';
	text-decoration: none;
	margin-top: 30px;
	border-radius: 4px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	background: #373737;
	line-height: 20px;
/* 	background: url(../images/link_arrow.png) no-repeat right 13px; */

}
#service-illustration img
{
margin-bottom: 30px;}
#service-illustration a:hover
{
	background: #f20052 /* url(../images/link_arrow.png) no-repeat right -28px */;
	color: #fff;
/* 	border:3px solid #f20052; */

}
#footer_keywords a
{
color: #212327; text-decoration: none;}



#career img, #service-links img{display:none;}

/*right push menu*/

.menu-link
{
	width: 35px;
	height: 35px;
	float: right;
	background: url(../images/nav.png) center top no-repeat;
	margin-top: 44px;
}
.main 
{
	display: none;
}

.cbp-spmenu a.back
{
	display: none;
}

#contact_dock
{
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: 0;
	background: #f0004d;
	margin-bottom: -41px;
	z-index: 9999;
	font-family: 'proxima_novalight';
	color: #fff;
	line-height:40px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	text-align: center;
}
.dock_email
{
	background: url(../images/dock_email.png) no-repeat center left;
	border-right: 1px solid #d90a26;
}
.dock_phone
{

	background: url(../images/dock_phone.png) no-repeat center left;
}
.dock_email,.dock_phone
{
	padding-left:30px;
	display: inline-block;
	margin-right: 15px;
	line-height: 40px;
	height: 40px;
}
#contact_details
{
	width:1000px;
	margin:0 auto;
}
#contact_dock .dock_email a
{
	color:#fff;
	text-decoration:none;
	padding-right:25px;
	line-height: 40px;
}
#contact_dock .dock_email a:hover
{
 	color: #fff;
}
#contact_dock.show_this
{
	margin-bottom: 0;
}
/*right push menu*/


/* New styles for the Web Section */
#web_services
{
	font-family: 'proxima_novalight';
	color: #fff;
	text-transform: uppercase;
	background: #f20052;
	padding: 60px 0;
	width: 100%;
	float: left;
	text-align: center;
}
#web_services ul
{
	width: 720px;
	margin: 0 auto;
}
#web_services li
{
	width: 230px;
	height: 70px;
	float: left;
	padding-top: 160px;
	margin-right: 10px;
	background: #d3054b;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-webkit-transition:all .5s ease;
}
#web_services li:hover
{
	background-color: #bb0e49;
}
	#web_services li.webdesign
	{
		background-image: url(../images/webdesign.png);
	}
	#web_services li.webdevelopment
	{
		background-image: url(../images/web-development.png);
	}
	#web_services li.seo
	{
		background-image: url(../images/seo.png);
	}
#web_services h4
{
	font-size: 13px;
	padding-bottom: 20px;
	letter-spacing: 2px;
}
#web_services h3,#web_services h1
{
	color: #fff;
	font-size: 25px;
	letter-spacing: 3px;
	display: block;
	width: 100%;
	float: left;
	padding-bottom: 50px;
}
#web_services h1
{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 2px;
}
/* New styles for the Web Section */

@media only screen 
and (min-width : 0) 
and (max-width : 1150px) 
{
	#inner-content
	{
		width: 80%;
	}
	#work_display
	{
		width: 66%;
	}
	#sidebar
	{
		width: 33%;
	}
}

@media only screen 
and (min-width : 0) 
and (max-width : 1100px) 
{
	body
	{
		min-width: 0;
	}
	.container
	{
		width: 90%;
	}
	#header, #who-we-are, #videos, #services, #contact-contents, #footer-contents
	 {
	  	width: 90%;
	 }
	 #who-we-are
	 {
		 padding: 0 5%;
		 margin-top: 0;
	 }
	 /*#portfolio-contents, */.content-common
	 {
	 	width: auto;
	 }
	 #adameans, #the-journey
	 {
	 	width: 48%;
	 }
	 ul#video-list li
	 {
	 	width: 30%;
	 	float: left;
	 	margin-right: 3%;
	 }
	 #portfolio-contents
	 {
	 	width: 25%;
	 	margin: 0;
	 }
	 #content-left
	 {
	 	width: 69%
	 }
	 #content-right
	 {
	 	width: 30%;
	 }
	 #career
	 {
	 	width: 278px;
	 }
	 #services-links
	 {
	 	width: 296px;
	 	padding-right: 15px;
	 }
	 #social
	 {
	 	width: 251px;
	 }

	 /*project*/

	 #work_display
	 {
	 	width: 63%;
		padding-left: 3%;
	 }
	 #sidebar
	 {
	 	width: 30%;
	 	float: left;
		padding-left: 3%;
	 }
	 #client_info
	 {
	 	width: 90%;
	 }
	 #web_services ul
	 {
		 width: 90%;
		 text-align: center;
	 }
	  #web_services ul li
	  {
		  width: 30%;
		  margin-right: 2%;
		  float: none;
		  display: inline-block;
	  }
	    #web_services ul a:last-child li
	    {
		    margin-right: 0;
	    }

}
@media only screen 
and (min-width : 0) 
and (max-width : 1024px) 
{
	.nav
	{
		min-width: 0;
	}
	#nav h3.logo
	{
		top: 5px;
	}
	
	#work
	{
		margin-top: 60px;
	}
	#contact_details
	{
		width: 90%;
	}
	#banner-caption
	{
		width: 700px;
		height: 377px;
		background-size: cover;
	}
	#header
	{
		height: 526px;
	}
	#portfolio-contents
	{
		width: 100%;
	}
	ul.services
	{
		width: 100%;
		padding-left:0;
		overflow: hidden;
		text-align: center;
	}
	#services-main
	{
		padding: 100px 0;
	}
	#services-main #services
	{
		width: 100%;
	}
	#services span
	{
		display: inline-block;
		margin: 0 0 20px 0;
	}
	#services li
	{
		width: 20%;
		float: none;
		display: inline-block;
	}
	.padding-right
	{
		padding-right: 5%;
	}
	#content-left
	{
		width: 50%;
		margin-bottom: 40px;
	}
	#smartphone
	{
		width: 26%;
		padding-right: 2%;
		display: none;
	}
	.mail, .phone
	{
		width: 100%;
		float: left;
	}
	#addresses
	{
		width: 100%;
	}
	.locations
	{
		width: 90%;
	}
	#content-right
	{
		width: 50%;
	}
	.field, .field2
	{
		width: 90%;
	}
	.QapTcha
	{
		width: 196px;
	}
	.QapTcha .bgSlider
	{
		width: 170px;
	}
	.submit
	{
		padding: 12px 70px;
	}
	#footer
	{
		padding: 50px 0;
	}
	#footer h3
	{
		padding-bottom: 0;
	}
	#career
	{
		width: 46%;
		padding-right: 4%;
		padding-bottom: 40px;
	}
	#services-links
	{
		width: 50%;
		padding-bottom: 40px;
		padding-right: 0;
		padding-left: 0;
	}
	#social
	{
		width: 100%;
	}
	#works
	{
		height: auto;
	}
	a .view-all-works-link
	{
		width: 90%;
	}
	/*inner page*/

    #inner-content
	{
		width: 90%;
	}
	p.column1
	{
		width: 41%;
		padding: 20px 5% 20px 4%;
	}
	p.column2
	{
		width: 44%;
		padding: 20px 2% 0;
	}
	#inner-nav
	{
		width: 90%;
	}
	
	#web_services
	{
		padding: 40px 0;
	}
	#web_services ul li
	{
		width: 30%;
		padding: 50px 0;
		margin: 0;
		height: auto;
	}
	#web_services h1 
	{
		margin: 0;
		padding: 0;
	}
	#web_services h3
	{
		font-size: 18px;
		padding-bottom: 10px;
	}
	#web_services h4 
	{
		padding-bottom: 10px;
	}
	#web_services li.webdesign,#web_services li.webdevelopment,#web_services li.seo
	{
		background-image: none;
	}



}
@media only screen 
and (min-width : 0) 
and (max-width : 860px) 
{
	#banner-caption
	{
		width: 654px;
		height: 365px;
	}
	#header {
		height: 490px;
	}
	#the-journey
	{
		display: none;
	}
	#adameans
	{
		width: 100%;
	}
	.nav ul li
	{
		margin-left: 30px;
	}
	#video-main
	{
		padding: 60px 0;
	}
	a.play
	{
		width: 228px;
		height: 166px;
	}
	#contact
	{
		padding: 50px 0;
	}
	#web_services h4
	{
		padding-bottom: 10px;
	}
	#web_services h3
	{
		font-size: 19px;
		padding-bottom: 20px;
	}

}
@media only screen 
and (min-width : 0) 
and (max-width : 768px) 
{
	.csswinner, .cssda
	{
		display: none;
	}
	#banner-caption
	{
		width: 562px;
		height: 300px;
	}
	#header
	{
		height: 440px;
		padding-top: 5px;
	}
	.nav ul
	{
		display: none;
	}
	#video-main
	{
		padding: 50px 0 0;
	}
	ul#video-list li
	{
		width: 47%;
		margin-bottom: 40px;
	}
	.padding-right:nth-child(2)
	{
		padding-right: 0;
	}
	a.play
	{
		width: 44%;
		/*height: 188px;*/
	}
	#content-left
	{
		width: 100%;
	}
	#content-right
	{
		width: 100%;
	}
	.mail, .phone
	{
		width: 40%;
	}
	#addresses
	{
		width: 100%;
	}
	.locations
	{
		width: 100%;
	}
	.field, .field2
	{
		width: 95%;
	}
	#career
	{
		width: 100%;
		padding-right: 0;
	}
	#services-links
	{
		width: 100%;
		margin-top: 0;
	}
	#footer .link
	{
		display: block;
		padding-top: 20px;
	}
	.main 
	{
		display: block;
		float: right;
		margin: 5px 5% 0 0;
		position: fixed;
		right: 0;
		z-index: 100;
	}
	.inner-bg .main 
	{
		margin: -25px 5% 0 0;
	}
	.cbp-spmenu a.closing
	 {
	 	width: 100%;
	 	height: 35px;
		position: absolute;
		text-indent: -9999px;
		background: url(../images/back.png)  no-repeat center;
		top: 22px;
		display: block;
		border: none;
		padding: 0;
		margin-left: 0;
		font-size: 0;
	 }
	 

	 /*inner pages*/

	
	p.column1
	{
		width: 92%;
		padding: 20px 4%;
		text-align: center;
	}
	p.column2
	{
		width: 92%;
		padding: 20px 4% 0 4%;
		text-align: center;
	}
	#service-heading
	{
		font-size: 40px;
		padding: 35px 0
	}
	#inner-menu
	{
		display: none;
	}
    .cbp-spmenu-vertical a.hide
    {

    }

	/*project*/

	#work_display
	{
		width: 94%;
	}
	#sidebar
	{
		width: 100%;
		padding-left: 0;
		display: none;
	}
	#inner-nav-main
	{
		padding: 38px 0;
	}
	#web_services ul li
	{
		width: 100%;
		padding: 15px 0;
	}
	#web_services h4 
	{
		font-size: 11px;
	}
	#web_services h3
	{
		width: 70%;
		font-size: 15px;
		padding: 0 15%;
	}
		#work li
	{
		width: 50%;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 640px) 
{
    #banner-caption {
		width: 494px;
		height: 261px;
	}
	#header {
		height: 370px;
	}
	.dock_email
	{
		display: none;
	}
	#services-main
	{
		padding: 85px 0 69px 0;
		margin-top: 0;
	}
	#services li
	{
		width: 49%;
		padding-bottom: 20px;
	}
	.locations
	{
		width: 100%;
		margin-right: 0;
	}
	#service-heading
	{
		font-size: 32px;
		padding: 24px 0
	}
	.mail, .phone
	{
		width: auto;
	}

	/*inner pages*/

	.next, .prev
	{
		display: none;
	}
	#projects-head-main
	{
		font-size: 34px;
		padding: 30px 0;
	}
	#work_display
	{
		width: 100%;
		padding: 0;
	}
	#fb_comments
	{
		line-height: 20px;
	}
	#work_display .line:first-child
	{
		margin:0 0 20px 0;
	}
	#inner-content-main
	{
		padding-bottom: 0px;
	}
	
}
@media only screen 
and (min-width : 0) 
and (max-width : 560px) 
{
	#banner-caption
	{
		width: 412px;
		height: 220px;
	}
	#header
	{
		height: 330px;
	}
	.QapTcha
	{
		width: 211px;
	}
	.QapTcha .bgSlider
	{
		width: 192px;
	}
	.submit
	{
		padding: 12px 80px;
	}
	#works
	{
		background: none;
	}
	#who-we-are .content-common
	{
		width: 100%;
	}
	#who-we-are p
	{
		overflow: hidden;
	}
	#service-illustration a
	{
		display: block;
		margin-top: 10px;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 480px) 
{
	#nav h3.logo
	{
		top: 5px;
	}
	#banner-caption
	{
		display: none;
	}
	#header {
		height: 60px;
	}
	#header h3.logo
	{
		width: 100%;
		text-align: center;
	}
	ul#video-list li
	{
		width: 100%;
	}
	.padding-right
	{
		padding-right: 0;
	}
	#video-list li img
	{
		width: 100%;
	}
	a.play
	{
		width: 90%;
		height: 274px;
	}
	#smartphone
	{
		display: none;
	}
	.QapTcha
	{
		width: 190px;
	}
	.QapTcha .bgSlider
	{
		width: 170px;
	}
	.submit
	{
		padding: 12px 60px;
	}
	#nav_space
	{
		height: auto;
	}
	/*inner pages*/

	p.highlight
	{
		font-size: 17px;
		line-height: 24px;
	}
	#service-heading {
		font-size: 24px;
		padding: 18px 0;
	}

}

/* Portfolio.CSS */
/*--------------------------------------------------------------------------------------------
	Section
--------------------------------------------------------------------------------------------*/
.section_mask {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
}

.section {
	width: 1004px;
	position: relative;
}

.section_heading {
	margin-left: -60px;
	position: relative;
	border-top: #e6e6e6 solid 1px;
	border-bottom: #fff solid 1px;
	margin-bottom: 45px;
	width: 460px;
}

.section_heading .inner {
	border-top: #fff solid 1px;
	border-bottom: #e6e6e6 solid 1px;
	padding: 18px 0 22px;
	padding-left: 60px;
}

.section_heading .inner h1,
.section_heading .inner h2 {
	padding: 0;
	margin: 0;
	width: 1160px;
}


/*--------------------------------------------------------------------------------------------
	Folio
--------------------------------------------------------------------------------------------*/
.loading_temp {
	background-image: #494949 url(../images/layout/loading.gif) 50% 50% no-repeat;
	display: none;
}

#temp_project {
	position: absolute;
	opacity: 0;
	overflow: hidden;
}

#ajax_response {
	position: relative;
	width: 100%;
}

#ajax_response .project {
	position: absolute;
	width: 100%;
	padding: 35px 0;
	z-index: 2;
	background: #fff;
	box-shadow: #ccc -1px 0 0, #ccc 1px 0 0;
}

#ajax_response .project.left {
	left: 100%;
}

#ajax_response .project.right {
	left: -100%;
}

#ajax_response .project.last_active {
	z-index: 1;
}

#ajax_response .content a{
	text-decoration: underline;
}
#ajax_response .content a:hover{
	color: #df3528;
}
/* Portfolio.CSS */


/* Default.css */
.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	/*border: 4px solid #47a3da;*/
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	/*background: #47a3da;*/
}

.main > section {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}

.main > section h2 {
	font-weight: 300;
	color: #ccc;
}

.main > section button {
	border: none;
	/*background: #47a3da;*/
	color: #fff;
	padding: 1.5em;
	display: block;
	/*width: 100%;*/
	cursor: pointer;
	margin: 10px 0;
	font-size: 0.8em;
	background: url(../images/nav.png) center top no-repeat;
}
button:focus
{
	outline: none;
}
.main > section button:hover {
	/*background: #258ecd;*/
}

.main > section button.active {
	/*background: #0d77b6;*/


}
.main > section button.disabled {
	
	
}
.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}
/* Default.css */


/* Component.css */
/* General styles for all menus */
.cbp-spmenu {
	background: #282B30;
	position: fixed;
}
.cbp-spmenu
{
	padding-top: 60px;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	/*background: #33353A;*/
	color: #ed1651;
}

.cbp-spmenu a:active {
	/*background: #afdefa;*/
	/*color: #47a3da;*/
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	font-family:'proxima_novalight', "Arial", Times, serif;
	font-size: 14px;
	color: #f2f2f2;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid #363738;
	padding: 2em;
	text-align: center;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	/*overflow-x: hidden;
	position: relative;
	left: 0;*/
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}
@media only screen 
and (min-width : 0) 
and (max-width : 360px) 
{
	/*.cbp-spmenu,
	.cbp-spmenu-push 
	{
		width: 100%;
	}*/
	.cbp-spmenu-right.cbp-spmenu-open
	{
		width: 100%;
	}
}

/* Component.css */